.radiobtn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;

  &__control {
    display: block;
    height: 3.0rem;
    width: 3.0rem;
    opacity: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  &__mask {
    width: 3.0rem;
    height: 3.0rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    background: #fff;
    border: .1rem solid $grey_20;
    box-sizing: border-box;
    &::before {
      content: '';
      top: 50%;
      transform: translateY(-50%);
      position: absolute;
      height: 1.2rem;
      width: 1.2rem;
      left: 0;
      right: 0;
      margin: auto;
      opacity: 0;
      background: #fff;
      text-align: center;
      border-radius: 50%;
      transition-duration: .2s;
      transition-timing-function:  $trans_basis;
      transition-property:  opacity;
      visibility: hidden;
    }
  }
  &__control:checked + &__mask{
    background: $primary;
    border-color: $primary;

    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  .has-error &__mask {
    border-color: $red !important;
  }

  &__title {
    margin-left: 1.5rem;
    display: inline-block;
    vertical-align: middle;

    .has-error & {
      color: $red;
    }
  }
}
