mixin input(title, placeholder, icon, error_text)
    - type= attributes.type || "text"

    label.input.vwd5_input.js_error_container
        span.input__title
            != title
        span.input__group
            if icon
                .hasicon.input__icon(class=`${icon}`)
            input.input__field(type=type, placeholder=placeholder)&attributes(attributes)
            .hasicon.icon_icon-quickaccess-close.input__clear
        span.input__help-block.error-container
            != error_text
