@import "../../globals/style/core";

.spoiler {
  padding-bottom: 2rem;

  .hasicon {
    position: absolute;
    top: 0;
    left: -20px;

    &:before {
      font-size: 20px;
      transition: all 200ms linear 0ms;
    }
  }

  &_open {
    .hasicon:before {
      transform: rotate(90deg);
    }
  }

  &__title {
    color: $primary;
    cursor: pointer;

    border-bottom: 1px dashed;
    margin: 0 0 1rem 0;

    position: relative;

    &:hover {
      color: $primary_hover;
    }
  }

  &__text {
    display: none;
    padding: 10px;
    overflow: hidden;
    background: #FFF;
  }
}
