
mixin MP_Wrapper(title)
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js')
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/atelier-cave-light.min.css")
    .gridcontainer
        .h2.mb20.mt20.masterpage-container
            != title
        if block
            block

mixin MP_Item(title)
    .grid_12
        h3.m022_Headline_H3(id=title)
            !=title
        hr
    if block
        .grid_12
            .mb50
                block

mixin MP_mixin_pug()
    if block
        .mb20.mt10
            b
                | Использование
            pre
                code.language-bash
                    block

mixin MP_mixin()
    if block
        .mb50.mt10
            .spoiler
                b.spoiler__title
                    span.hasicon.masterpage_icon.icon-base-arrow-right
                    | Под катом итоговый код
                .spoiler__text
                    .xmp-holder
                        xmp.mb50
                            block

            block

mixin MP_mixin_text()
    if block
        .mb50.mt10
            .spoiler
                b.spoiler__title
                    span.hasicon.masterpage_icon.icon-base-arrow-right
                    | Описание
                .spoiler__text
                    .masterpage-container
                        block
