// То, что пойдет на фронт (.clear, .mb10, etc.)

.clear,
.clearfix,
.cl {
  @include clearfix();
}

$gaps: (
  -100,
  -50,
  -40,
  -30,
  -25,
  -20,
  -15,
  -10,
  -5,
  5,
  10,
  15,
  20,
  25,
  30,
  40,
  50,
  100,
);

@mixin make-helper($class, $prop) {
  @each $gap in $gaps {
    $num: unitless($gap);
    #{$class + $gap} {
      #{$prop}: #{$gap + 'px'};
    }
  }
}

@include make-helper('.mt', 'margin-top');
@include make-helper('.mr', 'margin-right');
@include make-helper('.mb', 'margin-bottom');
@include make-helper('.ml', 'margin-left');

@include make-helper('.pt', 'padding-top');
@include make-helper('.pr', 'padding-right');
@include make-helper('.pb', 'padding-bottom');
@include make-helper('.pl', 'padding-left');

.m0, .no_m {
  margin: 0 !important;
}

.mt0, .no_mt {
  margin-top: 0 !important;
}

.mb0, .no_mb {
  margin-bottom: 0 !important;
}

.ml0, .no_ml {
  margin-left: 0 !important;
}

.mr0, .no_mr {
  margin-right: 0 !important;
}

.p0, .no_p {
  padding: 0 !important;
}

.pt0, .no_pt {
  padding-top: 0 !important;
}

.pb0, .no_pb {
  padding-bottom: 0 !important;
}

.pr0, .no_pr {
  padding-right: 0 !important;
}

.pl0, .no_pl {
  padding-left: 0 !important;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.invisible {
  visibility: hidden;
}

.fl_left {
  float: left !important;
}

.fl_right {
  float: right !important;
}

.fl_none {
  float: none !important;
}

.txt_right {
  text-align: right;
}

.txt_left {
  text-align: left;
}

.txt_center, .centred {
  text-align: center;
}

.show_overflow {
  overflow: visible !important;
}

.clear {
  clear: both;
}

.d_bl {
  display: block !important;
}

.d_inbl {
  display: inline-block !important;
}

.no_bg {
  background: none !important;
}

.no_border {
  border: none !important;
}

.static {
  position: static !important;
}

.nowrap {
  white-space: nowrap !important;
}

.noellipsis {
  overflow: visible !important;
}

.auto_width {
  width: auto !important;
}

.ul_simple {
  @include ul_simple;
}
