html {
  box-sizing: border-box;
}

* {
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body {
  &.scroll-lock {
    overflow: hidden;
  }
}

a {
  @include link-color($primary, $primary_hover);
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  max-width: 1000px;
}

.error-container {
  color: $red;
  display: none;

  .has-error & {
    display: block;
  }
}

