// Typo
html {
  font-size: 10/16*100%;
}
body {
  color: $grey_80;
  font-family: $font;
  font-size: 1.6rem;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  display: block;
  color: $grey_100;
  margin: 0;
  font-family: $font_head;
  font-weight: bold;
}

// Headings
h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}


// Lists
ul, ol {
  margin: 0;
  padding: 0 1.1em;
}
