@import "variables";

@font-face {
  font-family: 'demo';
  src:  url('#{$icomoon-font-path}/demo.eot?r5ubgf');
  src:  url('#{$icomoon-font-path}/demo.eot?r5ubgf#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/demo.ttf?r5ubgf') format('truetype'),
    url('#{$icomoon-font-path}/demo.woff?r5ubgf') format('woff'),
    url('#{$icomoon-font-path}/demo.svg?r5ubgf#demo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hasicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'demo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye {
  &:before {
    content: $icon-eye;
  }
}
.icon-paper-clip {
  &:before {
    content: $icon-paper-clip;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-toggle {
  &:before {
    content: $icon-toggle;
  }
}
.icon-link {
  &:before {
    content: $icon-link;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-lock {
  &:before {
    content: $icon-lock;
  }
}
.icon-unlock {
  &:before {
    content: $icon-unlock;
  }
}
.icon-ribbon {
  &:before {
    content: $icon-ribbon;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-cog {
  &:before {
    content: $icon-cog;
  }
}
.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-layers {
  &:before {
    content: $icon-layers;
  }
}
.icon-square-plus {
  &:before {
    content: $icon-square-plus;
  }
}
.icon-square-minus {
  &:before {
    content: $icon-square-minus;
  }
}
.icon-square-check {
  &:before {
    content: $icon-square-check;
  }
}
.icon-square-cross {
  &:before {
    content: $icon-square-cross;
  }
}
.icon-folder {
  &:before {
    content: $icon-folder;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-share {
  &:before {
    content: $icon-share;
  }
}
.icon-star {
  &:before {
    content: $icon-star;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-maximize {
  &:before {
    content: $icon-maximize;
  }
}
.icon-minimize {
  &:before {
    content: $icon-minimize;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-cross {
  &:before {
    content: $icon-cross;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-open {
  &:before {
    content: $icon-open;
  }
}
.icon-ellipsis {
  &:before {
    content: $icon-ellipsis;
  }
}

