@font-face {
  font-family: 'demo';
  src:  url('fonts/demo.eot?r5ubgf');
  src:  url('fonts/demo.eot?r5ubgf#iefix') format('embedded-opentype'),
    url('fonts/demo.ttf?r5ubgf') format('truetype'),
    url('fonts/demo.woff?r5ubgf') format('woff'),
    url('fonts/demo.svg?r5ubgf#demo') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hasicon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'demo' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
  content: "\e000";
}
.icon-paper-clip:before {
  content: "\e001";
}
.icon-mail:before {
  content: "\e002";
}
.icon-toggle:before {
  content: "\e003";
}
.icon-link:before {
  content: "\e005";
}
.icon-bell:before {
  content: "\e006";
}
.icon-lock:before {
  content: "\e007";
}
.icon-unlock:before {
  content: "\e008";
}
.icon-ribbon:before {
  content: "\e009";
}
.icon-clock:before {
  content: "\e014";
}
.icon-cog:before {
  content: "\e023";
}
.icon-heart:before {
  content: "\e024";
}
.icon-layers:before {
  content: "\e031";
}
.icon-square-plus:before {
  content: "\e044";
}
.icon-square-minus:before {
  content: "\e045";
}
.icon-square-check:before {
  content: "\e046";
}
.icon-square-cross:before {
  content: "\e047";
}
.icon-folder:before {
  content: "\e059";
}
.icon-location:before {
  content: "\e070";
}
.icon-share:before {
  content: "\e081";
}
.icon-star:before {
  content: "\e093";
}
.icon-arrow-left:before {
  content: "\e094";
}
.icon-arrow-right:before {
  content: "\e095";
}
.icon-arrow-up:before {
  content: "\e096";
}
.icon-arrow-down:before {
  content: "\e097";
}
.icon-maximize:before {
  content: "\e112";
}
.icon-minimize:before {
  content: "\e113";
}
.icon-plus:before {
  content: "\e114";
}
.icon-minus:before {
  content: "\e115";
}
.icon-check:before {
  content: "\e116";
}
.icon-cross:before {
  content: "\e117";
}
.icon-menu:before {
  content: "\e120";
}
.icon-open:before {
  content: "\e128";
}
.icon-ellipsis:before {
  content: "\e129";
}

