$icomoon-font-path: "fonts" !default;

$icon-eye: "\e000";
$icon-paper-clip: "\e001";
$icon-mail: "\e002";
$icon-toggle: "\e003";
$icon-link: "\e005";
$icon-bell: "\e006";
$icon-lock: "\e007";
$icon-unlock: "\e008";
$icon-ribbon: "\e009";
$icon-clock: "\e014";
$icon-cog: "\e023";
$icon-heart: "\e024";
$icon-layers: "\e031";
$icon-square-plus: "\e044";
$icon-square-minus: "\e045";
$icon-square-check: "\e046";
$icon-square-cross: "\e047";
$icon-folder: "\e059";
$icon-location: "\e070";
$icon-share: "\e081";
$icon-star: "\e093";
$icon-arrow-left: "\e094";
$icon-arrow-right: "\e095";
$icon-arrow-up: "\e096";
$icon-arrow-down: "\e097";
$icon-maximize: "\e112";
$icon-minimize: "\e113";
$icon-plus: "\e114";
$icon-minus: "\e115";
$icon-check: "\e116";
$icon-cross: "\e117";
$icon-menu: "\e120";
$icon-open: "\e128";
$icon-ellipsis: "\e129";

