extends ../../globals/layout/_layout

include ../../components/UI_Elements/button/index
include ../../components/UI_Elements/input/index
include ../../components/UI_Elements/checkbox/index
include ../../components/UI_Elements/radio/index
include ../../components/UI_Elements/radiogroup/index
include ../../components/MasterPageItem/index

block data
    -
        var data = {
        pageTitle: '_masterpage',
        bodyClass: '_masterpage'
        }

block content
    .js_ghostGridHolder
    +MP_Wrapper('Masterpage')
        +MP_Item('Заголовки')
            .gridcontainer
                .grid_6
                    h1 Header h1
                    h2 Header h2
                    h3 Header h3
                    h4 Header h4
                    h5 Header h5
                .grid_6
                    .h1 Div .h1
                    .h2 Div .h2
                    .h3 Div .h3
                    .h4 Div .h4
                    .h5 Div .h5

        +MP_Item('Списки')
            .gridcontainer
                .grid_6
                    ul
                        each _, x in Array(5)
                            li= 'Строка ' + (x + 1)
                .grid_6
                    ol
                        each _, x in Array(5)
                            li= 'Строка ' + (x + 1)

        +MP_Item('Кнопки')
            mixin makeBtns(tag)
                +btn(tag, tag + '.btn')(class='')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.btn_cta')(class='btn_cta')&attributes(attributes)
                br
                br
                +btn(tag, tag + '.btn.disabled')(class='disabled')&attributes(attributes)
                br
                br


            +MP_mixin_pug().
                +btn('a', 'Ссылочка')(class='btn_cta' href="#")

            +MP_mixin()
                +btn('a', 'Ссылочка')(class='btn_cta' href="#")
            .gridcontainer
                .grid_6.grid_sm_2
                    +makeBtns('a')(href="#")
                .grid_6.grid_sm_2
                    +makeBtns('span')
                .grid_6.grid_sm_2
                    +makeBtns('div')
                .grid_6.grid_sm_2
                    +makeBtns('button')
                .grid_6.grid_sm_2
                    +makeBtns('input')(type="submit")

        .mb100
        +MP_Item('Элементы формы')
        +MP_Item('Ошибки')
            .gridcontainer
                .grid_4
                    pre
                        code.jade.
                            .js_error_container.has-error
                                // Тут любой элемент формы
                                | [input например]
                                .error-container
                                    | Код ошибки
                .grid_4
                    .js_error_container.has-error
                        // Тут любой элемент формы
                        .error-container
                            | Код ошибки

        +MP_Item('Инпуты')
            +MP_mixin_pug().
                +input('Заголовок','Ваше Имя')(type=text)
            +MP_mixin()
                +input('Заголовок','Ваше Имя')(type=text)
            .gridcontainer
                .grid_4
                    +input('Заголовок', 'Ваше Имя', '', 'error text')(type=text)
                    +input('','Без заголовка', '', 'error text')
                .grid_4
                    +input('&nbsp;','С пустым заголовком, для отступа сверху (&nbsp;)')
                    +input('','С иконкой', 'icon_icon-navigation-search')(type=text)
                .grid_4
                    .js_masterpage_add_error
                        +input('Заголовок','Ваше Имя', '', 'error text')(type=text)
                        +input('','Без заголовка', '', 'error text')
                        +input('','Поиск', 'icon_icon-navigation-search', 'error text')(type=text)

        +MP_Item('Чекбокс')
            +MP_mixin_pug().
                +checkbox() Check me
            +MP_mixin()
                +checkbox() Check me
            .gridcontainer
                .grid_4
                    +checkbox
                    +checkbox('Check me')
                .grid_4
                    .js_masterpage_add_error
                        .js_error_container
                            +checkbox('', 'error text')
                            +checkbox('Check me', 'error text')

        +MP_Item('Радио')
            +MP_mixin_pug().
                +radiogroup('radiogroup', [
                    {
                        label: 'uno',
                        checked: false
                    },
                    {
                        label: 'dos',
                        checked: true
                    },
                    {
                        label: 'tre',
                        checked: false
                    }
                ])
            +MP_mixin()
                +radiogroup('radiogroup', [
                    {
                        label: 'uno',
                        checked: false
                    },
                    {
                        label: 'dos',
                        checked: true
                    },
                    {
                        label: 'tre',
                        checked: false
                    }
                ])
            .gridcontainer
                .grid_4
                    +radiogroup('radiogroup', [
                        {
                            label: 'uno',
                            checked: false
                        },
                        {
                            label: 'dos',
                            checked: true
                        },
                        {
                            label: 'tre',
                            checked: false
                        }
                    ], 'error text')
                .grid_4.js_masterpage_add_error
                    +radiogroup('radiogroup_error', [
                        {
                            label: 'uno',
                            checked: false
                        },
                        {
                            label: 'dos',
                            checked: true
                        },
                        {
                            label: 'tre',
                            checked: false
                        }
                    ], 'error text')

        +MP_Item('Иконки')
            .gridcontainer
                .grid_12
                    include ../../globals/fonts/demo/demo.html
