// ====================================================================
// List functions
// ====================================================================
// Create list - (fix one-item-multidimensional-list "bug")
// -------------------------------------------------------------------
@function list($args...) {
  $list: ();
  @for $i from 1 through length($args) {
    $list: append($list, nth($args, $i));
  }

  @return $list;
}

// Find list item (including nested lists)
// -------------------------------------------------------------------
// $list  - the list
// $index - index (and nested indexes) to match
//
// $list:list(list(a,b,c),list(d,list(e1,e2,list(e3a,e3b,wally)),f));
// .item { where-is:item($list,2,2,3,3)} // .item { where-is: wally }
@function item($list,$index...) {
  $item: $list;
  @for $i from 1 through length($index) {
    $item: nth($item, nth($index, $i));
  }

  @return $item;
}

// Remove list item -  (:replace style - just nulling the value)
// -------------------------------------------------------------------
// $list  - the list
// $index - index (and nested indexes) to match
//
// $list:list(list(a,b,c),list(d,list(e1,e2,list(e3a,e3b,wally)),f));
// .list { items:$list;}   // .list { items: a b c d e1 e2 e3a e3b wally f; }
// $list:remove($list,2,2,3,3);
// .list { items:$list;}   // .list { items: a b c d e1 e2 e3a e3b f; }
@function remove($list,$index...) {
  @return replace($list, null, $index...);
}

// List slice (js style)
// -------------------------------------------------------------------
@function slice($list,$start,$end:null) {
  $newlist: ();
  $end: if($end==null, length($list), $end);
  @for $i from $start through $end {
    $newlist: append($newlist, nth($list, $i));
  }
  @return $newlist;
}

// Prepend (:append style)
// -------------------------------------------------------------------
@function prepend($list,$value,$separator:auto) {
  $newlist: list($value);
  @for $i from 1 through length($list) {
    $newlist: append($newlist, nth($list, $i), $separator);
  }
  @return $newlist;
}
