mixin checkbox(label, error_text)
    label.checkbox
        input.checkbox__control(type='checkbox')&attributes(attributes)
        span.checkbox__mask.hasicon.icon_icon-nextstep-checkmark
        if label
            span.checkbox__title
                != label // TODO add label as block

        span.checkbox__help-block.error-container
            != error_text
