@import "../../globals/style/core";
.checkbox {
  @include clearfix();
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 2rem;

  &__control {
    display: block;
    height: 3.0rem;
    width: 3.0rem;
    opacity: 0;
    position: absolute;
    left: 0;
    cursor: pointer;
  }
  &__mask {
    position: relative;
    display: block;
    float: left;
    width: 3.0rem;
    height: 3.0rem;
    border-radius: $radius;
    background: #fff;
    border: .1rem solid $grey_20;
    box-sizing: border-box;
    &:before {
      position: absolute;
      top: -6px;
      opacity: 0;
      color: #fff;
      font-size: 2.5rem;
      line-height: 3rem;
      text-align: center;
      width: 100%;
      transition-duration: .2s;
      transition-timing-function:  $trans_basis;
      transition-property:  opacity, top;
      visibility: hidden;
    }

    .has-error & {
      border-color: $red !important;
    }
  }
  &__control:checked + &__mask{
    background: $primary;
    border-color: $primary;

    .vwd5_bg_blue & {
      background: #fff;
      border-color: $grey_20;
      &:before {
        color: $primary;
      }
    }

    &::before {
      opacity: 1;
      top: -1px;
      visibility: visible;
    }
  }

  &__title {
    padding-top: .4rem;
    float: left;
    padding-left: 4.5rem;
    margin-left: -3rem;
    width: 100%;
    display: inline-block;
    vertical-align: middle;

    .has-error & {
      color: $red;
    }
  }


  &__help-block {
    clear: both;
    padding-top: .5rem;
  }
}
