

$mobile: new-breakpoint(min-width 32rem);
$fablet: new-breakpoint(min-width 48rem);
$tablet: new-breakpoint(min-width 76.8rem);
$laptop: new-breakpoint(min-width 10.24rem);
$desktop: new-breakpoint(min-width 12rem);
$widescreen: new-breakpoint(min-width 16rem);
//$tractor: new-breakpoint(min-width em(1486px)); //http://www.tractordata.com/farm-tractors/000/3/7/373-international-harvester-1486-dimensions.html
