// Main
$primary: #3D195B;
$primary_hover: lighten($primary, 10%);


// Grayscale
$grey_100: #1D1F20;
$grey_80: #2F3538;
$grey_60: #808890;
$grey_40: #BDC3C6;
$grey_20: #DEE1E3;
$grey: #F3F5F6;


// Backgrounds
$bg_blue: $primary;
$bg_grey: $grey;
$bg_white: #FFFFFF;
$bg_power_grey: $grey_20;
$bg_power_dark: $grey_80;
$inverted: #fff;


// Other
$orange: #FAAA00;
$red: #C82E2D;
