@import "breakpoints";

$font: 'vw_text',
sans-serif;
$font_head: 'vw_head',
sans-serif;
// Text settings
// ======== H1 ========
$header-1: list((media: default, font-size: 30px, line-height: 33px, letter-spacing: -.25px), (media: $fablet, font-size: 36px, line-height: 39px), (media: $tablet, font-size: 45px, line-height: 48px), (media: $laptop, font-size: 60px, line-height: 65px));
// ======== H2 ========
$header-2: list((media: default, font-size: 23px, line-height: 27px, letter-spacing: -.25px,), (media: $fablet, font-size: 26px, line-height: 30px,), (media: $tablet, font-size: 35px, line-height: 40px,), (media: $laptop, font-size: 45px, line-height: 50px));
// ======== H3 ========
$header-3: list((media: default, font-size: 21px, line-height: 25px, letter-spacing: -.25px,), (media: $laptop, font-size: 28px, line-height: 33px));
// ======== H4 ========
$header-4: list((media: default, font-size: 18px, line-height: 22px, letter-spacing: -.25px,), (media: $laptop, font-size: 24px, line-height: 29px));
// ======== H5 ========
$header-5: list((media: default, font-size: 16px, line-height: 20px, letter-spacing: -.25px,), (media: $laptop, font-size: 18px, line-height: 23px));

// Utility em base setting
$em_base: 10px;
